spring:
  application:
    name: gerenciador-oficina-pagamento

  jackson:
    time-zone: UTC

  data:
    web:
      sort:
        sort-parameter: order
      pageable:
        page-parameter: page
        one-indexed-parameters: true
        size-parameter: pageSize
        max-page-size: 50
        default-page-size: 10

  autoconfigure:
    exclude:
      - org.springframework.boot.actuate.autoconfigure.metrics.MetricsAutoConfiguration
      - org.springframework.boot.actuate.autoconfigure.metrics.SystemMetricsAutoConfiguration
      - org.springframework.boot.actuate.autoconfigure.metrics.export.simple.SimpleMetricsExportAutoConfiguration

  rabbitmq:
    addresses: amqps://qvmoypwp:svWftB5y5T6iGqSHLCXLh9Zu51OhaTri@moose.rmq.cloudamqp.com/qvmoypwp
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 3
        default-requeue-rejected: false

springdoc:
  default-produces-media-type: application/json
  api-docs:
    path: /swagger-ui/v3/api-docs
  swagger-ui:
    title: Gerenciador de Oficina Pagamentos API
    doc-expansion: none
    display-request-duration: true
    groups-order: DESC
    operationsSorter: alpha
    tagsSorter: alpha
    disable-swagger-default-url: true
    path: /swagger-ui
  group-configs:
    - group: v1 - api
      paths-to-match: /v1/**

management:
  endpoints:
    web:
      exposure:
        include: health
  metrics:
    enable:
      process: false
      system: false
  endpoint:
    metrics:
      enabled: false
    health:
      probes:
        enabled: true

broker:
  queue:
    pagamento:
      autorizado: default.pagamento.autorizado
      naoautorizado: default.pagamento.nao-autorizado
      processar: default.pagamento.processar

mercadopago:
  public-key: ${MERCADO_PAGO_PUBLIC_KEY:TEST-b119b7dd-037a-43a9-afe3-bfdfe8d2ef3f}
  access-token: ${MERCADO_PAGO_ACCESS_TOKEN:TEST-4604387371249325-021610-a9360cf42beb4662ed601e25048d2adb-376051986}

server:
  port: 8083