<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- Formato JSON estruturado -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <!-- timestamp -->
                <timestamp />

                <!-- level, thread, logger -->
                <logLevel />
                <threadName />
                <loggerName />

                <!-- mensagem do log -->
                <message />

                <!-- campos MDC (inclui trace.id, span.id do New Relic) -->
                <mdc />

                <!-- campos extras customizados -->
                <globalCustomFields>
                    {"service":"gerenciador-oficina-core"}
                </globalCustomFields>

            </providers>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="JSON" />
    </root>

</configuration>
